@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {

  #eat {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  background: rgb(206, 194, 27);
  border: solid #000;
  border-width: 0 10px 10px 0;
  }

  #play {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 50%;
  background: rgb(33, 110, 68);
  border: solid #000;
  border-width: 0 0 10px 0;
  }

  #fight {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50%;
  bottom: 0;
  background: rgb(255, 81, 0);
  border: solid #000;
  border-width: 0 10px 0 0; 
  }

  #sleep {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  background: rgb(0, 55, 128);
  }
};

  #goodFood {
    width: 250px;
  };
  
  #junkFood {
    width: 250px;
  };

  #bigFun {
    width: 250px;
  };

  #smallFun {
    width: 250px;
  };

  #nap {
    width: 250px;
  };

  #slumber {
    width: 250px;
  };

  #run {
    width: 250px;
  };

  #violence {
    width: 250px;
  };
