#sleepTitle {
  font-family:serif;
  font-style: oblique;
  font-size: 40px;
};

#sleepScore {
  background-color: white;
  font-style: inherit;
  font-size: 30px;
};

#sleepImg {
  height: 150px;
  width: 150px;
}
